<!DOCTYPE html>
<html lang="en-US">


<head>
    <link rel="stylesheet" type="text/css" href="../main.css" />
    <link rel="stylesheet" type="text/css" href="../overrides.css" />
    <meta charset="UTF-8"/>
    <title>Bolshevik</title>
</head>
<body>
<div id="page-helper">
    <!-- this is here for Vue to bind to! Don't remove! -->
</div>

<header class="si-hr prt-x" id="site-header">
    <div class="si-hr__container">

        <!-- Logo -->

        <div class="si-hr-lo">
            <a class="si-hr-lo__container" href="https://paradoink.github.io/index.html" tabindex="1">


                <h1 style="margin-left: 50px;">Bolshevik</h1>
            </a>
        </div>

        <!-- Links -->



        <ul class="si-hr-lk si-hr-lk--po">

            <li class="si-hr-lk__item si-hr-lk__item--1">
                <a class="si-hr-lk__link" href="https://discord.gg/5SVkfxk">Subscribe</a>
            </li>


            <li class="si-hr-lk__item si-hr-lk__item--2">
                <a class="si-hr-lk__link" href="https://paradoink.github.io/Magazines/Eco.pdf">Magazine</a>
            </li>
            <li class="si-hr-lk__item si-hr-lk__item--3">
                <a class="si-hr-lk__link" href="/donate">Donate</a>
            </li>
            <li class="si-hr-lk__item si-hr-lk__item--4">
                <a class="si-hr-lk__link" href="http://catalyst-journal.com/">Catalyst</a>
            </li>
        </ul>



    </div>

    <div id="site-menu">
        <transition name="fadein">
            <div class="si-hr-mu" v-cloak v-if="menuActive">
                <div class="si-hr-mu__container">
                    <ul class="si-hr-mu__list">
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/subscribe" tabindex="1">Subscribe</a>
                        </li>
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/storeissues" tabindex="1">Back Issues</a>
                        </li>
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/donate" tabindex="1">Donate</a>
                        </li>
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/store" tabindex="1">Store</a>
                        </li>
                    </ul>

                    <ul class="si-hr-mu__list">
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/issue/war-is-a-racket" id="magazine-link" tabindex="1">Magazine</a>
                        </li>
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/blog" tabindex="1">Blog</a>
                        </li>
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="http://catalyst-journal.com/" tabindex="1">Catalyst</a>
                        </li>
                    </ul>

                    <ul class="si-hr-mu__list">
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/about" tabindex="1">About</a>
                        </li>
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/contact" tabindex="1">Contact Us</a>
                        </li>
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/reading-groups" tabindex="1">Reading Groups</a>
                        </li>
                        <li class="si-hr-mu__item">
                            <a class="si-hr-mu__link" href="/advertise" tabindex="1">Advertise</a>
                        </li>
                    </ul>
                </div>
            </div>
        </transition>
    </div>


    <div id="site-login">
        <transition name="fadein">
            <div class="si-hr-ln" v-cloak v-if="loginActive || forgotActive">

                <form class="si-hr-ln__form" v-if="loginActive" v-on:submit.prevent="submitLogin">
                    <div class="si-hr-ln__error" v-if="errors">
                        {{ errors }}
                    </div>
                    <label class="si-hr-ln__label">
                        Email
                        <input class="si-hr-ln__field si-hr-ln__field--email" id="login.email" name="email" placeholder tabindex="1" v-model="email"/>
                    </label>
                    <label class="si-hr-ln__label">
                        Password
                        <input class="si-hr-ln__field si-hr-ln__field--password" id="login.password" name="password" placeholder tabindex="1" type="password" v-model="password"/>
                    </label>
                    <a class="si-hr-ln__toggle" role="button" tabindex="1" target="_self" v-on:click="showForgot" v-on:keyup.13="showForgot">

                        <svg class="si-hr-ln__icon" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                            <!-- <defs><style>.cls-1{fill:none;}</style></defs> -->
                            <title>Forgot Password Icon</title>
                            <path class="si-hr-ln__icon--circle" d="M20,37.8A17.8,17.8,0,1,1,37.8,20,18,18,0,0,1,20,37.8Z"></path>
                            <path class="si-hr-ln__icon--question" d="M20.7,19.4c1.3-1.1,2.4-1.6,2.4-3.1s-1.2-2.6-3.2-2.6a4.43,4.43,0,0,0-4.1,2.9l-2.6-1.4A7,7,0,0,1,20,10.7c4,0,6.4,2.2,6.4,5.3a5,5,0,0,1-2.5,4.5c-2.1,1.5-2.6,2-2.6,4.1v.5H18.4v-.7A5,5,0,0,1,20.7,19.4Zm-1,6.7a1.8,1.8,0,1,1-1.8,1.8,1.79,1.79,0,0,1,1.8-1.8Z"></path>
                        </svg>
                        <span class="si-hr-ln__forgot">Forgot password?</span>
                    </a>
                    <button class="si-hr-ln__submit" tabindex="1" type="submit" v-bind:disabled="querying">
                        <span>Log in</span>
                    </button>
                </form>

                <div class="si-hr-fg" v-cloak v-if="forgotActive">
                    <div class="si-hr-fg__content">
                        <div class="si-hr-fg__return">
                            <a class="si-hr-fg__link" role="button" tabindex="1" v-on:click="showLogin" v-on:keyup.13="showLogin">
                                ← Back
                            </a>
                        </div>
                        <form action="/forgot" class="si-hr-fg__form" enctype="application/x-www-form-urlencoded" method="post" target="_self">
                            <label class="si-hr-fg__label">
                                Enter email to receive password reset link
                                <input class="si-hr-fg__field" id="forgot.email" name="forgot.email" placeholder tabindex="1" value/>
                            </label>
                            <button class="si-hr-fg__submit" tabindex="1" type="submit" v-bind:disabled="querying">
                                <span>Submit</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </transition>
    </div>


</header>



<main class="po">

    <article class="po__article">
        <header class="po-hr prt-y">
            <footer class="po-hr-fl prt-x">
                <div class="po-hr-fl__meta">
                    <time class="po-hr-fl__date">11.04.2019</time>
                    <ul class="po-hr-fl__taxonomies po-hr-fl__taxonomies--location">
                        <li class="po-hr-fl__taxonomy">
                            <a>Socialism</a>
                        </li>
                    </ul>

                    <ul class="po-hr-fl__taxonomies po-hr-fl__taxonomies--category">
                        <li class="po-hr-fl__taxonomy">
                            <a >Socialism</a>
                        </li>
                        <li class="po-hr-fl__taxonomy">
                            <a >Ideology</a>
                        </li>
                        <li class="po-hr-fl__taxonomy">
                            <a >Theory</a>
                        </li>
                    </ul>
                </div>
            </footer>



            <section class="po-hr-cn prt-y">

                <h1 class="po-hr-cn__title">Socialism with American Characteristics</h1>

                <div class="po-hr-cn__contributors">
                    <dl class="po-hr-cn__authors">



                        <dt class="po-hr-cn__byline">By</dt>



                        <dd class="po-hr-cn__author">
                            <a class="po-hr-cn__author-link">BananaRepublic</a>
                        </dd>

                    </dl>



                </div>

                <p class="po-hr-cn__dek" style="margin-top:0vh;">Socialism has long been a dirty word in politics. It's now being more accepted, but do we understand what the word really means?</p>
            </section>

            <figure class="po-hr-im prt-x">
                <img alt class="po-hr-im__image" height="779" src="https://www.leftvoice.org/wp-content/uploads/2018/03/arton1996.jpg" width="1280"/>
                <figcaption class="po-hr-im__caption">
                    <p class="po-hr-im__description">Modern Day Socialism?</p>
                </figcaption>
            </figure>
        </header>

        <div class="po__container">
            <div class="po__main prt-y">
                </aside>
                <!-- Post Content -->

                <div class="po-cn wp po-wp" id="post-content">
                    <section class="po-cn__intro po-wp__intro" id="ch-0">
                        <p>Despite what many on the right would have one believe, socialism and American values are not incompatible with one another. In the eyes of right wingers, America is based upon the ideals of free and private enterprise, good economy in government, small taxes, and, depending on their party affiliation, a regulation of the relationship between owners and workers, ensuring that, on paper at least, they all receive their fair share. This is almost always intertwined with the fundamental freedoms protected by the United States Constitution.</p>
                        <p>But Socialism does not inherently presume the taking away of civil rights, or even of disallowing the concept of private property. Instead, what socialism is, at its most simple, the ideal that workers deserve a say in their work. Not through union representation with bosses, I mean real says. I mean the establishment of democracy in the workplace. Just as democracy in government is important, so must democracy in the workplace.</p>
                        <p>It is true that America was founded upon fundamental political freedoms. Freedom of speech, freedom of religion, freedom of the press. It is also true that the Founders did believe in protecting private property. But we should not forget that Thomas Jefferson, one of the writers of the Declaration of Independence and President of the United States, believed that we should rewrite the Constitution every 19 years, in addition to cancelling all debt:</p>
                        <p class="quote">On similar ground it may be proved that no society can make a perpetual constitution, or even a perpetual law. The earth belongs always to the living generation. They may manage it then, and what proceeds from it, as they please, during their usufruct. They are masters too of their own persons, and consequently may govern them as they please. <sup>1</sup></p>
                        <p>Of course, Jefferson was just one man. He was also a slave owner, who raped his slaves.</p>
                        <p>It is important to remember that the Founders men, and like all men, were flawed, both by their personal issues and by the issues they were influenced by at the time. Regardless of whether you believe that the culture of the time justifies or excuses their actions is irrelevant, as the Founders, if alive today, would be viewed with moral disgust. They, too, would likewise find our modern ideals of gender and racial equality baffling; the elimination of the indirectly elected senate a grand mistake of the masses; fear of the massive standing army we currently have; and, depending on their affiliation with either the Federalist or Democratic-Republican Party, the funding of public works projects to be a violation of everything they believe in.</p>
                        <p>The United States Constitution is, and always has been, malleable depending on the circumstance. The 8th Section of Article I of the Constitution gives Congress the power to “make all Laws which shall be necessary and proper for carrying into Execution the foregoing Powers, and all other Powers vested by this Constitution in the Government of the United States, or in any Department or Officer thereof.” While not a direct indication of widespread power, it does suggest that the Founders believed in some form of an active government, of some flexibility in what we can and cannot do.</p>
                        <p>And we would need such flexibility. There was no clause in the constitution allowing for the conscription of men into the army, and yet we needed such a thing in order to keep the Union together during the Civil War. There was also no clause establishing the United States Air Force, and yet we still have that. There is not even a clause establishing the power of judicial review either, and yet we still have it. <sup>2</sup></p>
                        <p>Of course, very few Americans believe in the elimination of all government intervention. Excluding the economically far-right wing of the Republican Party (consisting of current House Representative and past Presidential candidate, /u/ProgrammaticallySun7), very few believe in the government returning to the past of no government intervention. It is accepted that, in certain circumstances, the federal government should be allowed to intervene into the economy, such as funding for additional infrastructure, or funding for education, or whatever else have you. The era of big government is over. It’s been over since the 20s.</p>
                        <p>But for these other parties, even ones that believe in significantly more government intervention, such as the Democratic Party, there is an underlying assumption of capitalist dogma -- of protecting ‘society’, or, in other words, of protecting the social contract that allows for capitalist growth. That was what New Deal Liberalism was. That’s what Progressivism was. But Socialists reject this dogma. What is government intervention, then, to people like us?</p>
                        <p>If government intervention for the capitalist parties is based upon protecting capitalism, of helping it expand and further its domination across the globe, then government intervention for socialists must be the opposite. It must ferment economic and social policies that allow for socialism to thrive in our society. Elsewhere, it must undermine the capitalist system as we know it.</p>
                        <p>But socialism can only thrive in our society be creating principles that resonate with the people of America, through appealing to their material conditions under capitalism. So, what are the characteristics that we must associate with Socialism, if we are to help it thrive?</p>
                        <p>Firstly, Socialism should be associated with freedom together. One can not exist without the other. We are against the so called freedoms laid by the capitalists parties, the freedom of markets. We believe that true freedom can only be gained when our material interests are provided and secured. What freedom is there in a free market economy without food to eat? Without shelter to live in? Without clothes on your back? Without healthcare? Without education? Without the ability to live outside poverty, or, at the very least, to live in a bearable poverty where you are not constantly living on the edge, always counting down by the penny everything you own, to make sure you can eat the next morning?</p>
                        <p>And is it not freedom to believe in earning your fair pay, of having what you deserve -- which, in this case, is the surplus value taken from you by capitalist exploitation? Is it not freedom to have a say in your workplace, a vote, an influence on decisions that affect you? Is it not freedom to secure in your home, your food, and your health, regardless of who you are and where you live? That is the freedom Socialists should be talking about when capitalist parties talk of the freedom of markets.</p>
                        <p>Secondly, Socialism must dissociate itself with Liberalism as a concept. Socialism is not Liberalism on steroids. We may agree with certain aspects of the Liberal tradition -- freedom of speech, assembly, press, and other rights being many of them -- but we must distinguish ourselves from them in many important aspects. We believe in communities. We believe in thinking about something larger than yourself. We are not a series of atomized individuals. We need each other. We need to rely on one another, assist one another, help each other. Liberalism believes in the individual above all else. We believe in a society where individuals, while having their own freedoms, also must have obligations to protect society -- including helping feed, clothe, and house everyone.</p>
                        <p>Thirdly, Socialism must focus on respecting hard work. We cannot sound like the party of lazy bums. We must focus on our working class base, on our support from then, and how their support comes not from a sense of entitlement, but based on a sense of righteous indignation and belief that they should be given their fair share in society. Socialism is the means through which such a society can come about.</p>
                        <p>In order for Socialism to exist in America, we must be smart. We must be practical. We cannot use theory that no one has heard of before and pretend workers know what we’re talking about. We must be willing to cooperate with the capitalist parties, but we must remind them where our true loyalties lie -- not with the state, or the capitalist system, or even to theory. It is towards the working class, towards the poor, both urban and rural, towards the unemployed and underpaid members of society who have nothing. We are their representatives, not the representatives of capitalists and their dogma.</p>
                        <p>We are Socialists, not capitalists with red flags.</p>
                        <p><sup>1</sup> <a href="https://jeffersonpapers.princeton.edu/selected-documents/thomas-jefferson-james-madison ">https://jeffersonpapers.princeton.edu/selected-documents/thomas-jefferson-james-madison </a> <br> <sup>2</sup> I acknowledge that while this relating to the power of the judicial branch and not the legislative branch, I feel it is important to acknowledge regarding literalist interpretations of the Constitution. One cannot be against federal regulations on constitutional groups without also believing in eliminating judicial review as a concept.</p>
                    </section>
                </div>

                <footer class="po-fr">
                    <figure class="po-fr__endmark prt-x">
                        <svg class="po-fr__image" viewBox="0 0 512 458" xmlns="http://www.w3.org/2000/svg">
                            <title>End Mark</title>
                            <polygon points="0 444 512 0 512 14 0 458 0 444"></polygon>
                        </svg>
                    </figure>


                    <section class="po-fr__bio">
                        <h1 class="po-fr__heading">About the Author</h1>

                        <p class="po-fr__desc"> BananaRepublic is a long time member of he socialist party. He is current an assemblyman in the state of Dixie, and the state chief for the party in that region. </p>
                    </section>
                </footer>
            </div>
        </div>

        <div id="post-print">
            <transition name="fadein">
                <aside class="po-pr prt-x" v-cloak v-if="printActive">
                    <a class="po-pr__close" v-on:click="closePanel">

                        <svg class="po-pr__icon" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">=
                            <title>Remove Icon</title>
                            <line x1="7.17" x2="42.83" y1="7.17" y2="42.83"></line>
                            <line x1="42.83" x2="7.17" y1="7.17" y2="42.83"></line>
                        </svg>
                        ESC
                    </a>
                    <div class="po-pr__container">
                        <header class="po-pr__header">
                            <h1 class="po-pr__heading">Select a text size</h1>
                        </header>
                        <div class="po-pr__main">
                            <div class="po-pr__item">
                                <h2 class="po-pr__subheading">
                                    <a class="po-pr__button" v-on:click="setPrintSize('print-small')">
                                        Small
                                    </a>
                                </h2>
                                <div class="po-pr__text po-pr__text--s">
                                    <p>In the weeks before Puerto Ricans rose up and took down governor Ricardo Rosselló this summer, educators on the island banded together to defeat a corrupt deal that would have destroyed their pensions. Now they’re organizing against a new version of the same rotten plan. The fight begs a basic question: Why is the American [&hellip;]</p>

                                </div>
                            </div>
                            <div class="po-pr__item">
                                <h2 class="po-pr__subheading">
                                    <a class="po-pr__button" v-on:click="setPrintSize('print-medium')">
                                        Medium
                                    </a>
                                </h2>
                                <div class="po-pr__text po-pr__text--m">
                                    <p>In the weeks before Puerto Ricans rose up and took down governor Ricardo Rosselló this summer, educators on the island banded together to defeat a corrupt deal that would have destroyed their pensions. Now they’re organizing against a new version of the same rotten plan. The fight begs a basic question: Why is the American [&hellip;]</p>

                                </div>
                            </div>
                            <div class="po-pr__item">
                                <h2 class="po-pr__subheading">
                                    <a class="po-pr__button" v-on:click="setPrintSize('print-large')">
                                        Large
                                    </a>
                                </h2>
                                <div class="po-pr__text po-pr__text--l">
                                    <p>In the weeks before Puerto Ricans rose up and took down governor Ricardo Rosselló this summer, educators on the island banded together to defeat a corrupt deal that would have destroyed their pensions. Now they’re organizing against a new version of the same rotten plan. The fight begs a basic question: Why is the American [&hellip;]</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </transition>
        </div>


    </article>

    <div class="sr-at" style="display:none">
        <aside class="sr-at__slot sr-at__slot--left prt-x">
            <!-- /21690955159/jac_posts -->
            <div id="div-gpt-ad-1530207829426-1">
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1530207829426-1'); });
            </script>
            </div>
        </aside>
        <aside class="sr-at__slot sr-at__slot--left prt-x">
            <!-- /21690955159/jac_posts2 -->
            <div id="div-gpt-ad-1530207829426-2">
                <script>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1530207829426-2'); });
                </script>
            </div>
        </aside>
        <aside class="sr-at__slot sr-at__slot--left prt-x">
            <!-- /21690955159/jac_posts3 -->
            <div id="div-gpt-ad-1530207829426-3">
                <script>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1530207829426-3'); });
                </script>
            </div>
        </aside>
        <aside class="sr-at__slot sr-at__slot--left prt-x">
            <!-- /21690955159/jac_posts4 -->
            <div id="div-gpt-ad-1530207829426-4">
                <script>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1530207829426-4'); });
                </script>
            </div>
        </aside>
    </div>


</main>


<footer class="si-fr prt-x">

    <section class="si-fr-ml" id="mailing-list-signup">
        <h1 class="si-fr-ml__heading">Sign up for our mailing list</h1>
        <form class="si-fr-ml__form" v-on:submit.prevent="signup">
            <div class="si-fr-ml__formbox">
                <input class="si-fr-ml__field" name="email" placeholder="Email Address Here" v-model="email"/>
                <button class="si-fr-ml__submit" v-bind:disabled="querying">
                    <span>Submit</span>
                </button>
                <p class="si-fr-ml__message" v-cloak v-if="state === 'failure'">This doesn't appear to be a valid email.</p>
                <p class="si-fr-ml__message" v-cloak v-if="state === 'success'">Thanks for signing up!</p>
            </div>
        </form>
    </section>

    <a class="si-fr__frame" href="/">

    </a>
</footer>

<script src="https://js.stripe.com/v3/"></script>
<script src="/static/1569970862/js/jacobin.js" type="text/javascript"></script>


</body>

</html>